:root{
    --base_height: 9in;
    --base_width: 16in;
}



#titlebar > h2#heading{
    font-size: 45px;
    margin-left: 10px;
}

#titlebar > p#heading-legend{
    font-size: 30px;
    margin-left: 10px;
}


#holidayBOX{
    width: var(--base_width);
    height: var(--base_height);
    border: solid black;
    background-image: linear-gradient(180deg, rgba(255,255,224, 0.5), rgba(255,255,173, 0.1)), url("../files/MountFuji.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}


.calendarDay{
    background-color: rgba(45, 158, 211, 0.5);
    width: 2in;
    height: 1in;
    text-align: center;
    font-size: 25px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    
    border: solid black;
}

.dateBox{
    background-color: rgba(58, 25, 150, 0.3);
    width: 2in;
    height: 0.4in;
    text-align: center;
}

.calendarBox{
    display: grid;
    grid-template-columns: 2in 2in 2in 2in 2in 2in 2in;
    grid-template-rows: 0.4in 1in 1in 1in 1in 1in;
    justify-content: center;
    align-content: center;
}


.calendarDay.holidayEvent{
    background-color: rgba(211, 45, 147, 0.5);
    font-size: 13px;
}

.calendarDay.holidayEvent > p {
    font-size: 25;
}